numpy
pandas
bcolz
blosc
bokeh
boto3
botocore
httpretty
chest
cloudpickle
coverage
cytoolz
distributed
graphviz
h5py
ipython
lz4
partd
psutil
pytest
requests
scikit-image
scikit-learn
scipy
sqlalchemy
tables
toolz
git+https://github.com/dask/partd
git+https://github.com/dask/zict
git+https://github.com/dask/distributed
git+https://github.com/mrocklin/sparse
git+https://github.com/dask/s3fs
